server:
  port: 8086

spring:
  application:
    name: CONFIG-SERVER
  cloud:
    config:
      server:
        git:
          default-label: master
          uri: https://github.com/preritshambharkar/micro-services-configuration
          clone-on-start: true
